@import '/src/styles/index.scss';

.scrollable-container {
  overflow-x: auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-right: 60px;
  margin-left: 20px;
  gap: 16px;
}
