.container {
  cursor: text;
  border-radius: 8px;
  color: white;
  margin-bottom: 18px;
}

.container-editor {
  max-height: 221px;
  height: 221px;
  margin-bottom: 24px;
  border-radius: 8px;
  font-family: 'Roboto';
  color: #919094;
  font-size: 14px;
  line-height: 20px;
}
