@import '/src/styles/index.scss';


.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 16px;
  margin-top: 25px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://res.cloudinary.com/dvujkjs1q/image/upload/v1752781161/Full_Premier_League_table.jpg_1_rvn1sa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // filter: blur(5px);

  @include tablet {
    padding: 70px 72px;
    margin-top: 80px;
    filter: blur(0px);
    background-position: auto;
  }

  .fpl-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    background: #37003c;
    border: 5px solid #05fa8540;
    min-height: 468px;
    padding: 21px;

    @include tablet {
      gap: 32px;
      width: 559px;
      min-height: 579px;
      padding: 32px;
    }

    .top {
      min-height: 260px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tablet {
        min-height: 270px;
        gap: 32px;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #05fa85;
        border-bottom: 1px solid #fff;
        font-family: 'Avenir';
        font-size: 16px;
        font-weight: 800;
        line-height: 27.32px;
        text-align: center;

        @include tablet {
          font-size: 20px;
        }
      }
      .steps {
        display: flex;
        flex-direction: column;

        .lead {
          font-family: 'Avenir';
          font-weight: 800px;
          font-size: 14px;
          line-height: 21.86px;
          color: #fff;

          @include tablet {
            font-size: 16px;
          }

          ol {
            list-style: decimal;

            li {
              font-weight: 400px;
              margin-left: 20px;

              span {
                color: #05fa85;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 217px;
      gap: 16px;

      .grand-prize {
        position: absolute;
        top: 0;
        left: 20%;
        right: 20%;
        text-align: center;
        color: #37003c;
        font-family: 'Avenir';
        font-size: 14px;
        font-weight: 800;
        line-height: 19.12px;
        border-radius: 4px;
        background-color: #fff;
        min-height: 35px;

        @include tablet {
          left: 30%;
          right: 30%;
        }
      }
      .prizes {
        display: flex;
        background: #64256a;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-top: 17px;
        color: #fff;
        border-radius: 8px;

        @include tablet{
          padding: 16px;
        }

        .prize {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: 'Avenir';
          padding: 5px;

          .position {
            font-size: 9px;
            font-weight: 350;
            line-height: 20.49px;

            @include tablet {
              font-size: 15px;
            }
          }
          .amount {
            font-size: 13px;
            font-weight: 900;
            line-height: 21.7px;

            @include tablet {
              font-size: 24px;
              line-height: 32.78px;
            }
          }
          .additional {
            font-size: 9px;
            font-weight: 300;
            line-height: 12.66px;

            @include tablet {
              font-size: 14px;
              line-height: 19.12px;
              font-weight: 400;
            }
          }
        }
        .prize:nth-of-type(2) {
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          padding: 0 12px;
        }
      }
      .btn-group{
        display: flex;
        width: 100%;
        gap: 15px;
        min-height: 40px;

        @include tablet{
          min-height: 60px;
        }
        .btn, .btn-pay, .btn-inactive {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border-radius: 8px;
          color: #37003c;
          cursor: pointer;
          min-height: 60px;
          font-family: 'Avenir';
          font-size: 13px;
          font-weight: 500;
          line-height: 27.32px;
          text-align: center;
          width: 100%;
  
          @include tablet {
            font-size: 20px;
          }
        }
        .btn-pay, .btn-inactive{
          background-color:#05FA85;
          color: #37003C;
        }
        .btn-inactive{
          position: relative;
          color: #FFFFFF;
        }
        .btn-inactive::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
          pointer-events: none; /* Ensure the overlay doesn't block clicks */
        }
      }
      
    }
  }
}
