@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/rmk6gqd.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --greenColor: rgba(197, 238, 79, 1);
  --font-degular: 'degular', sans-serif;
  --font-degular-display: 'degular-display', sans-serif;
  --font-avenir: 'Avenir', sans-serif;
  --font-avenirLtsd: 'Avenir', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Avenir LT Std – all weights and styles */
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Light'), url('./fonts/avenir-font/AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Light Oblique'), url('./fonts/avenir-font/AvenirLTStd-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Book'), url('./fonts/avenir-font/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Book Oblique'), url('./fonts/avenir-font/AvenirLTStd-BookOblique.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Roman'), url('./fonts/avenir-font/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Oblique'), url('./fonts/avenir-font/AvenirLTStd-Oblique.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Medium'), url('./fonts/avenir-font/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Medium Oblique'), url('./fonts/avenir-font/AvenirLTStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Heavy'), url('./fonts/avenir-font/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Heavy Oblique'), url('./fonts/avenir-font/AvenirLTStd-HeavyOblique.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Black'), url('./fonts/avenir-font/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: local('Avenir LT Std Black Oblique'), url('./fonts/avenir-font/AvenirLTStd-BlackOblique.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

.ql-toolbar.ql-snow {
  background: #999ba0 !important;
  border: none !important;
  border-radius: 8px 8px 0 0 !important;
  font-family: 'Roboto' !important;
  color: #919094 !important;
  padding: 10px 16px !important;
}

.ql-editor {
  padding: 10px 16px !important;
  scrollbar-width: none !important;
  font-family: 'Roboto' !important;
  color: #919094 !important;
  border-radius: 0 0 8px 8px !important;
}

.ql-container.ql-snow {
  border-radius: 0 0 8px 8px !important;
  background: #2f3033 !important;
  border: none !important;
}

.ql-toolbar.ql-snow .ql-formats {
  color: #fff !important;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote {
  font-size: 14px !important;
  line-height: 20px !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-style: italic;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 16px;
  margin-top: 25px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://res.cloudinary.com/dvujkjs1q/image/upload/v1752781161/Full_Premier_League_table.jpg_1_rvn1sa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
